[build]
  command = "npm install --prefix backend/netlify/functions && npm install --prefix frontend && npm run build --prefix frontend"
  publish = "frontend/.next"
  functions = "backend/netlify/functions"

[build.environment]
  NODE_VERSION = "20.18.1"

[functions]
  node_bundler = "esbuild"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[plugins]]
  package = "@netlify/plugin-functions-install-core"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/cv/*"
  to = "/.netlify/functions/api/cv/:splat"
  status = 200
